body {
  margin: 0;
}

header {
  background: #281B2D;
  color: #fff; 
  text-align: center;
  margin-bottom: 3rem;
}

h1 {
  font-size: 72px;
  margin: 0;
  padding: 25px;
}

.heading--colored {
  font-size: 48px;
  color: #FCD801;
  background: #281B2D;
  border-bottom: 5px solid #00c54c;
  padding: 20px;  
  margin-top: 0;
}

.white {
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.columns {
  display: flex;
}


.main-content {
  width: 65%;
  margin-right: 4%;
}

.sidebar {
  width: 30%;
  height: 100vh;
  background: #9aE84F;
  padding: 15px 15px 0 15px;  
  box-shadow: 10px 10px 10px 0 lightgray;
}

.col-right {
  margin-left: 10px;
}

.text-margin {
  margin: 0;
}

ol {
  line-height: 2.5;
}

.link {
  color: #9138B7;
}

.link:hover {
  text-decoration: none;
}

.p--small {
  font-size: 15px;
}

